@charset "UTF-8";
	
	       .t1 {
            border: solid black 2px;
            border-spacing: 0px;
            border-collapse: collapse;
            width: 60%;
            margin: 10px auto;
        }
        .t1 td, .t1 th{
            border: dashed red 1px;
            height: 40px;
            text-align: center;
        }
	